<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vendor/platform.js"></script>
    <script src="vendor/polymer.js"></script>
    <script src="vendor/domwork.js"></script>
    <link rel="import" href="components/counter.html">
    <link rel="stylesheet" href="css/style.css">
    <script src="//localhost:35729/livereload.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>

</head>
<body>
    <my-counter counter="10">Points</my-counter>
</body>
</html>