.playTable {
  position: relative;
  width: 830px;
  height: 400px;
  background: darkgreen;
  #playerHand {
    position: absolute;
    bottom: 5%;
    left: 25%;
    width: 50%;
    height: 190px;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 12px;
  }
}